.dm_main {
    background: linear-gradient(var(--c2), #ffffff);
}

.dm_top_sec {
    border-radius: 0 0 43px 43px;
    padding: 10px;
}

.dm_single_sec {
    border-radius: 43px;
    padding: 10px;
}

.dm_tools_sec {
    background: url(/images/live-course/digital-marketing/tools-bg.svg), linear-gradient(#000000, #000000);
    background-size: cover;
    background-position: center;
    /* padding-top: 150px; */
    border-radius: 45px;
}

.digital_marketing_banner {
    background: url(/images/live-course/digital-marketing/bg-1.png), linear-gradient(#000000, #000000);
    background-size: cover;
    padding-top: 150px;
    border-radius: 45px;
}

.digital_marketing_banner form {
    background: #ffffff;
    padding: 25px;
    border-radius: 13px;
}

.digital_marketing_banner form input,
.digital_marketing_banner form select {
    background-color: #B8B8B8;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    color: #000000;
}

.digital_marketing_banner form button {
    background-color: var(--c2);
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    transition: all .3s ease-out;
}

.digital_marketing_banner form button:hover {
    background-color: var(--c1);
    transition: all .3s ease-out;
}

.digital_marketing_banner .banner_left_dm button {
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: var(--c1);
    border: 1px solid #ffffff;
    font-weight: 600;
    font-size: 17.6px;
    line-height: 20.58px;
    margin-top: 20px;
    transition: all .3s ease-out;
}

.digital_marketing_banner .banner_left_dm button:hover {
    background-color: var(--c1);
    color: #ffffff;
    transition: all .3s ease-out;
}

.why_dm_sec {
    background: url(/images/live-course/digital-marketing/bg-2-1.png), linear-gradient(#000000, #000000);
    background-size: cover;
    border-radius: 45px;
    position: relative;
    overflow: hidden;
}

.why_dm_sec::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(/images/live-course/digital-marketing/bg-2-2.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 0;
}

.why_dm_sec .section_container {
    position: relative;
    z-index: 1;
}

.why_dm_sub {
    background: #37738152;
    border-radius: 20px;
    padding: 15px 30px;
    height: 100%;
}

.why_dm_sub p {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 15px;
}

.dm_overview {
    background: url(/images/live-course/digital-marketing/bg-3.png), linear-gradient(#fff5f5, #fff5f5);
    background-size: cover;
    border-radius: 45px;
}

.tools_points_inner {
    border-radius: 12px;
    box-shadow:
        inset 0 1px 6px #0000002e,
        inset 0 -1px 4px #ffffffcc;
    padding: 10px;
    margin: 20px 10px;
    position: relative;
    overflow: hidden;
}

.tools_points_inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 1;
}

.tools_top_parent {
    right: 0;
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
    top: 0;
}

.dm_tools_sec .image_parent {
    padding-top: 350px;
}

.tools_points_inner.one:before {
    background: radial-gradient(circle at left, #78FF00 0%, #78FF0031 50%, #78FF0000 70%);
}

.tools_points_inner.two:before {
    background: radial-gradient(circle at left, #FF0000 0%, #FF000031 50%, #FF000000 70%);
}

.tools_points_inner.three:before {
    background: radial-gradient(circle at left, #55FF00 0%, #55FF0031 50%, #55FF0000 70%);
}

.tools_points_inner.four:before {
    background: radial-gradient(circle at left, #FFA100 0%, #FFA10031 50%, #FFA10000 70%);
}

.tools_points_inner.five:before {
    background: radial-gradient(circle at left, #005DFF 0%, #005DFF31 50%, #005DFF00 70%);
}

.tools_points_inner.six:before {
    background: radial-gradient(circle at left, #FF0099 0%, #FF009931 50%, #FF009900 70%);
}

.tools_points_inner.seven:before {
    background: radial-gradient(circle at left, #57309C 0%, #57309C31 50%, #57309C00 70%);
}

.tools_points_inner.eight:before {
    background: radial-gradient(circle at left, #FFAE00 0%, #FFAE0031 50%, #FFAE0000 70%);
}

.tools_points_inner.nine:before {
    background: radial-gradient(circle at left, #00FF88 0%, #00FF8831 50%, #00FF8800 70%);
}

.tools_points_inner p {
    margin-bottom: 0;
    padding-left: 70px;
}

.dm_overview .dm_steps .dm_steps_sub {
    display: flex;
    border-radius: 13px;
    overflow: hidden;
    box-shadow:
        inset 0 1px 6px #0000002e,
        inset 0 -1px 4px #ffffffcc;

}

.dm_overview .dm_steps .dm_step_one div,
.dm_overview .dm_steps .dm_step_two div,
.dm_overview .dm_steps .dm_step_three div,
.dm_overview .dm_steps .dm_step_four div {
    width: 80px;
}

.dm_overview .dm_steps .dm_step_one div {
    background: radial-gradient(circle at left, #78FF00 0%, #77ff0031 50%, #77ff0000 70%);
}

.dm_overview .dm_steps .dm_step_two div {
    background: radial-gradient(circle at left, #FF0000 0%, #ff000031 50%, #ff000000 70%);
}

.dm_overview .dm_steps .dm_step_three div {
    background: radial-gradient(circle at left, #EEFF00 0%, #EEFF0031 50%, #EEFF0000 70%);
}

.dm_overview .dm_steps .dm_step_four div {
    background: radial-gradient(circle at left, #00F6FF 0%, #00F6FF31 50%, #00F6FF00 70%);
}

.dm_overview .dm_steps p {
    margin-bottom: 0;
    padding: 10px 10px 10px 0;
}

.dm_overview button {
    background-color: var(--c1);
    color: #ffffff;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
}

.dm_skils_sub {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.dm_tools {
    background: url(/images/live-course/digital-marketing/bg-4.png), linear-gradient(#000000, #000000);
    background-size: cover;
    border-radius: 45px;
}

.dm_tools_center {
    position: absolute;
    padding: 30px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c2);
    box-shadow: 0 0 100px 10px var(--c2);
}

.dm_path {
    background: url(/images/live-course/digital-marketing/bg-5.png), linear-gradient(#fff5f5, #fff5f5);
    background-size: cover;
    border-radius: 45px;
}

.dm_ways_main {
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.dm_way_points {
    border-radius: 17px;
    background-color: #ffffff;
    padding: 15px;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dm_way_points_parent {
    max-width: 185px;
    position: relative;
}

.dm_way_points_parent:after {
    content: "";
    background: linear-gradient(#24b8ec26 10%, #ffffff14 80%);
    height: 80%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 94%;
}

.dm_way_points p {
    font-size: 14px;
}

.dm_skills_main {
    background: url(/images/live-course/digital-marketing/bg-6.png), linear-gradient(#000000, #000000);
    background-size: cover;
    border-radius: 45px;
    margin-top: 13px;
}


.dm_skill_path .cards-box {
    position: relative;
    min-height: 450px;
}

.dm_skill_path .cards-box .card {
    padding: 30px 20px 20px;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(180deg, #000000 10%, #686868 100%);
    border: none;
    border-radius: 0 0 30px 30px;
    color: #ffffff;
    cursor: pointer;
}

.dm_skill_path .cards-box .card {
    padding: 50px 20px 20px;
}

.dm_skill_path .cards-box .card.one {
    background: linear-gradient(180deg, #09630105 37.87%, #096301 100%);
}

.dm_skill_path .cards-box .card.two {
    background: linear-gradient(180deg, #4A302405 37.87%, #4A3024 100%);
}

.dm_skill_path .cards-box .card.three {
    background: linear-gradient(180deg, #C7131605 61.85%, #C71316 100%);
}

.dm_skill_path .cards-box .card.four {
    background: linear-gradient(180deg, #F0B61C05 37.87%, #F0B61C 100%);
}

/* .dm_skill_path .cards-box .card>div>div {
    display: none;
} */

.dm_skill_path .cards-box .card>div>div,
.dm_skill_path .cards-box .card>div>p {
    color: #ffffff;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='0']>div>div,
.dm_skill_path .cards-box .card:not(.hide)[data-slide='0']>div>p {
    /* text-transform: uppercase; */
    color: #ffffff;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='0']>div>div {
    display: block;
}

.dm_skill_path .cards-box .card img {
    height: 63px;
}

.dm_skill_path .cards-box .card.hide {
    visibility: hidden;
}

.dm_skill_path .cards-box .card:not(.hide) {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='0'] {
    transform: translate(0px, 0px);
    z-index: 9;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='1'] {
    transform: translate(0px, 100px);
    z-index: 8;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='2'] {
    transform: translate(0px, 200px);
    z-index: 7;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='3'] {
    transform: translate(0px, 300px);
    z-index: 6;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='4'] {
    transform: translate(0px, 285px);
    z-index: 5;
}

/* 
.dm_skill_path .cards-box .card:not(.hide)[data-slide='5'] {
    transform: translate(0px, 340px);
    z-index: 4;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='6'] {
    transform: translate(0px, 395px);
    z-index: 3;
}

.dm_skill_path .cards-box .card:not(.hide)[data-slide='7'] {
    transform: translate(0px, 445px);
    z-index: 2;
} */

.dm_skill_path .cards-box .card:not(.hide)[data-slide='0'] {
    transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.dm_skill_path .cards-box .card p {
    margin-bottom: 0;
    /* font-size: 14px; */
}

.dm_from_start_sec {
    background: url(/images/live-course/digital-marketing/bg-7.png), linear-gradient(#fff5f5, #fff5f5);
    background-size: cover;
    border-radius: 45px;
    margin-top: 13px;
}

.testimonial_section {
    /* background: linear-gradient(90deg, #f5b000, #111); */
    padding: 30px 0;
}

.testimonial_section .swiper-slide {
    padding: 150px 0 40px 0;
}

.dm_testimonial_card {
    color: #fff;
    text-align: center;
    padding: 25px 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dm_testimonial_card img {
    width: 190px;
    height: auto;
    position: absolute;
    left: -87px;
    bottom: 0;
    z-index: 9;
}

.testimonial_text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.dm_testimonial_card h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.dm_testimonial_card span {
    font-size: 13px;
    color: #ddd;
}

@media screen and (max-width: 1400px) {
    .testimonial_section .swiper-slide {
        padding: 40px 0;
    }
}

@media screen and (min-width: 2000px) {
    .why_dm_sec::after {
        display: none;
    }

    .why_dm_sec .section_container::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: url(/images/live-course/digital-marketing/bg-2-2.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        z-index: 0;
    }

}

@media screen and (max-width: 991px) {
    .nav-elements .dropdown-menu {
        background: #000000;
    }

    .dm_way_points_parent:after {
        display: none;
    }

    .dm_way_points {
        box-shadow: 0px 0px 12px 7px #24b8ec26;
    }

    .dm_ways_main button {
        margin-top: 10px;
    }

    .testimonial_section .swiper-slide {
        padding: 90px 0 40px;
    }

    .testimonial_text {
        margin-top: 30px;
    }

    .dm_testimonial_card {
        flex-direction: column;
        padding: 30px;
    }

    .dm_testimonial_card img {
        position: relative;
        left: 0;
        right: 0;
        margin: -100px auto 0;
    }

    .dm_ways_main .dm_way_points_card_parent {
        flex-wrap: wrap;
    }

    .dm_way_points_parent {
        max-width: 100%;
    }

    .dm_tools_center {
        height: 130px;
        width: 130px;
    }

    .dm_tools_center h5 {
        font-size: 15px;
    }

    .why_dm_sec {
        padding-bottom: 60px !important;
    }

    .why_dm_sec::after {
        background-position: bottom;
    }

    .digital_marketing_banner,
    .why_dm_sec,
    .dm_single_sec,
    .dm_overview,
    .dm_tools,
    .dm_path,
    .dm_skills_main {
        border-radius: 15px;
    }

    .dm_top_sec {
        border-radius: 0 0 15px 15px;
    }
}

/* module - start */
.modules-section {
    position: relative;
}

.modules-section .section_container {
    padding-top: 90px;
}

.tabs-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 260px;
    /* <-- prevents overlap */
}

.tabs {
    background: #000;
    display: flex;
    gap: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    position: relative;
    white-space: nowrap;
    min-width: auto;
    max-width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tabs.dragging {
    cursor: grabbing;
}

.tab {
    background: none;
    border: none;
    color: #fff;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    transition: 0.2s;
}

.tab.active {
    color: var(--c2);
    font-weight: 600;
}

.tab:hover {
    color: var(--c2);
}

.tab-indicator {
    width: 35px;
    height: 25px;
    background: #000;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transition: left 0.25s ease;
    z-index: 1;
}

/* .tab.active::after {
    content: "";
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 25px;
    background: #000;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
} */

.tab-content-box {
    background:
        linear-gradient(180deg, #d9d9d900 94.17%, #f5f3f9 99.03%),
        linear-gradient(270deg, #d9d9d900 94.2%, #f5f3f9 100%),
        linear-gradient(90deg, #ffffff00 93.23%, #ffffff 100%),
        linear-gradient(180deg, #ffffff00 0%, #ffffff 0%, #ffffff00 22%),
        linear-gradient(180deg, #ffffff00 0%, #24b8ec33 100%);
    border-radius: 12px;
    padding: 20px 25px;
    margin-top: 25px;
    min-width: 285px;
    max-width: 340px;
    color: #000;
    max-height: 285px;
    overflow-y: auto;
}

.combo_syllabus_modal .modal-content {
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Opening animation */
.modal-slide-down {
    transform: translateY(0%);
    opacity: 1;
    transition: all .3s ease-out;
}

/* Closing animation */
.modal-slide-up {
    transform: translateY(-100%);
    opacity: 0;
    transition: all .3s ease-out;
}

.modal,
.modal-backdrop {
    background-color: #000000a1;
    backdrop-filter: blur(10px);
}

.combo_syllabus_modal .tab-content-box {
    max-height: 215px;
}

.combo_syllabus_modal .modal-body {
    padding: 10px 50px;
}

.tab-content-box ul {
    padding-left: 18px;
}

.tab-content-box .download_icon {
    background: var(--c1);
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .tabs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    .tabs {
        white-space: nowrap;
        min-width: auto;
        max-width: 100%;
    }

    .tabs::-webkit-scrollbar {
        display: none;
    }

    .tab {
        font-size: 13px;
    }

    /*
    .tab.active::after {
        content: "";
        position: absolute;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
        width: 35px;
        height: 22px;
        background: #000;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    } */

    .tab-content-holder {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tab-content-box {
        background: #f7fafd;
        border-radius: 12px;
        padding: 20px 25px;
        margin-top: 60px;
        width: fit-content;
        color: #000;
        left: 0 !important;
        right: 0 !important;
        margin: auto;
        transform: none !important;
    }

    .tab-content-box ul {
        padding-left: 18px;
    }
}

.download_icon {
    background: #ffffff;
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_syll_butt {
    position: relative;
    z-index: 1;
    background: #22346B33;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px 5px 5px;
    gap: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-out;
}

.download_syll_butt:hover {
    background: var(--c1);
    color: #ffffff;
    transition: all .3s ease-out;
}

.tab-content-box .download_icon {
    background: var(--c1);
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dm_modules_parent {
    padding-bottom: 115px;
}

/* module - end */
.price_section_parent_top {
    position: absolute;
    bottom: -210px;
    left: 0;
    right: 0;
}

/* price start */
.price_section {
    min-width: 600px;
    border-radius: 80px;
    background: #000000;
    box-shadow: 0 49px 108px 41px #24b8ec73 inset;
}

.price_header {
    border: 2px solid #05741d;
    border-radius: 100px;
}

.price_header div {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    border-radius: 100px;
}

.price_header div.active {
    padding: 7px;
    background: linear-gradient(108.28deg, #093f0f 6.47%, #008c0e 91.92%);
}

.price_header div.active div.butt {
    font-weight: bold;
    width: fit-content;
    background: linear-gradient(108.28deg, #008c0e 6.47%, #093f0f 91.92%);
}

.price_header div.butt {
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 100px;
}

.price_section ul {
    line-height: 35px;
    font-size: 15px;
}

.parent_price {
    border-radius: 100px;
    box-shadow: 0px 20px 0px -2px rgba(0, 0, 0, 0.15);
}

.price_section .price_card button {
    box-shadow: 0px 0px 13.5px 6px #0000003d inset;
    background-color: var(--c1);
    border: 1px solid var(--c1);
    border-radius: 100px;
    padding: 10px 40px;
    font-weight: bold;
    color: #ffffff;
    transition: all .3s ease-out;
}

.price_section .price_card button:hover {
    background-color: var(--c2);
    border: 1px solid var(--c2);
    transition: all .3s ease-out;
}

.price_section_parent_top .new_price {
    background: #06a523;
}

.tab_btn {
    background: #1d1d1d;
    color: #fff;
    border-radius: 20px;
    border: none;
}

.tab_btn.active {
    background: #0d6efd;
}

/* price end */

.dm_career_path_parent {
    background: url(/images/live-course/digital-marketing/career-path-bg.svg), linear-gradient(#000000, #000000);
    background-size: cover;
    border-radius: 45px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    background-position: center;
}

.dm_career_path_parent:before {
    content: "";
    margin: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00000041 0, #000000ef 100%);
    z-index: 1;
}

.dm_career_path_parent .section_container {
    position: relative;
    z-index: 2;
}

.career_package_child {
    box-shadow: 0px 0px 2px 1px #ffffff61;
    padding: 15px;
    border-radius: 22px;
    position: relative;
    overflow: hidden;
}

.career_package_child.one {
    background: #24B8EC33;
}

.career_package_child.two {
    background: #FFFF0033;
}

.career_package_child.three {
    background: #15B40033;
}

.career_package_child div {
    position: relative;
    z-index: 2;
}

.career_package_child:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.career_package_child.one:after {
    background: radial-gradient(circle at bottom, #24B8EC 0%, #24B8EC31 50%, #24B8EC00 70%);
}

.career_package_child.two:after {
    background: radial-gradient(circle at bottom, #FFFF00 0%, #FFFF0031 50%, #FFFF0000 70%);
}

.career_package_child.three:after {
    background: radial-gradient(circle at bottom, #15B400 0%, #15B40031 50%, #15B40000 70%);
}

.career_package_child.one p:last-child {
    padding-bottom: 20px;
}

.career_package_child.two p:last-child {
    padding-bottom: 60px;
}

.career_package_child.three p:last-child {
    padding-bottom: 100px;
}

.dm_project_parent {
    position: relative;
    border-radius: 45px;
    margin: 10px 0;
    overflow: hidden;
}

.dm_project_parent:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: url(/images/live-course/digital-marketing/bottom-bg.svg), linear-gradient(#000000, #000000);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.dm_project_parent .section_container {
    position: relative;
    z-index: 2;
}

.dm_batch_inner {
    background: linear-gradient(180deg, #24b8ec54 0%, #ffffff59 100%);
    border: 1px solid #FFFFFF;
    border-radius: 62px;
    padding: 30px 40px;
    width: fit-content;
    margin: auto;
}

.dm_batch_inner button {
    background: var(--c1);
    border-radius: 25px;
    padding: 6px 15px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    transition: all .3s ease-out;
}

.dm_batch_inner button:hover {
    background: var(--c2);
    color: #ffffff;
    transition: all .3s ease-out;
}

.batch_parent .dm_batch_inner {
    background: linear-gradient(90deg, #24b8ec33 0%, #00e1ff33 100%);
}

.batch_parent button {
    border: 3px solid #FFFFFF1F;
    background: #FFFFFF33;
    border-radius: 25px;
    padding: 6px 20px;
    color: #000000;
    font-weight: 600;
    transition: all .3s ease-out;
}

.batch_parent button:hover {
    border: 3px solid var(--c1);
    background: var(--c1);
    color: #ffffff;
    transition: all .3s ease-out;
}

.batch_child ul li {
    margin: 10px 0;
    padding: 10px;
    color: #000000;
    list-style: none;
    border-left: 3px solid #000000c0;
    background: linear-gradient(90deg, #ffffff66 0%, #ffffff00 100%);
}

/* pricing start */
.dm_pricing_plan {
    /* background: linear-gradient(#00000000 90%, #ffffffbb 95%, #ffffff 100%), url(/images/live-course/ui-ux/bg-4.png);
    background-size: cover; */
    display: flex;
    justify-content: center;
}

.dm_pricing_plan .pricing_card {
    background: linear-gradient(180deg, #24b8ec0d 0%, #ffffff59 100%);
    border-radius: 62px;
    padding: 30px 25px;
    text-align: center;
    box-shadow: -1px 9px 25px #0000000a inset;
    backdrop-filter: blur(20px);
}

.dm_pricing_plan .features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.dm_pricing_plan .features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dm_pricing_plan .features li {
    font-size: 15px;
    margin-bottom: 10px;
}

.dm_pricing_plan .price_box {
    background: url(/images/live-course/ui-ux/bg-4.png), linear-gradient(#ffffff00, #ffffff00);
    background-size: 300%;
    background-position: center;
    margin: 25px auto;
    padding: 15px 30px;
    width: fit-content;
    border-radius: 23px;
    box-shadow: 0px 0px 12px 0px #e9e9e9 inset;
    border: 1px solid #ffffffad;
}

.dm_pricing_plan .old_price {
    text-decoration: line-through;
    font-size: 24px;
    color: #555;
}

.dm_pricing_plan .new_price {
    background: #2FFF362B;
    color: #378128;
    font-size: 28px;
    font-weight: 700;
    padding: 6px 18px;
    border-radius: 20px;
}

.dm_pricing_plan .apply_btn {
    background: var(--c1);
    color: #fff;
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.dm_pricing_plan .apply_btn:hover {
    background: var(--c2);
    color: #000;
}

/* Mobile */
@media (max-width: 600px) {
    .dm_pricing_plan .features {
        flex-direction: column;
    }
}

/* pricing end */


.dm_cta {
    margin-top: -70px;
}

.dm_cta {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column-reverse;
    background: url("/images/live-course/digital-marketing/cta-bg.svg");
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

.dm_cta .section_container {
    padding: 40px 50px;
    padding-bottom: 60px;
}

.dm_cta_person {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: auto;
    height: 150%;
}

.dm_cta h3 {
    font-size: 35px;
}

.dm_cta button {
    background: linear-gradient(90deg, #999696 0%, #FFFAFA 100%);
    border-radius: 8px;
    padding: 10px 30px;
    border: none;
    color: #000;
    transition: all .3s ease-out;
}

.dm_cta button:hover {
    background: var(--c1);
    color: #ffffff;
    transition: all .3s ease-out;
}

.dm_cta_inner {
    background: #D9D9D933;
    border-radius: 32px;
    padding: 30px;
    width: 100%;
    height: fit-content;
    position: relative;
}

.dm_cta_inner .dm_cta_button {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

/* .dm_cta_person {
    display: none;
} */

@media screen and (max-width: 991px) {
    .dm_tools_sec .image_parent {
        padding-top: 870px;
    }

    .dm_career_path_parent:before {
        background: linear-gradient(to right, #000000 0, #000000ef 100%);
    }

    .career_package_child:after {
        height: 100%;
    }

    .career_package_child p:last-child {
        padding-bottom: 0 !important;
    }

    .digital_marketing_banner .banner_left_dm button {
        padding: 8px 10px;
        font-size: 15.6px
    }

    /* .dm_pricing_plan .pricing_card {
        padding: 30px 0px;
    } */

    .dm_pricing_plan .new_price,
    .dm_pricing_plan .old_price {
        font-size: 21px;
    }

    .dm_cta h3 {
        font-size: 30px;
    }

    .dm_cta_lg {
        display: none;
    }

    .dm_cta_person {
        bottom: -50px;
        left: 0;
        width: 200px;
        height: auto;
    }

    .dm_cta_inner {
        position: relative;
        top: 0;
        bottom: 0;
        padding: 20px;
        right: 10%;
        width: 100%;
        left: 0;
        margin: auto;
        height: fit-content;
        margin-bottom: 30px;
    }

    /* .dm_cta h3, 
    .dm_cta p{
        color: #ffffff !important;
    } */

    .dm_cta button {
        font-weight: bold;
        padding: 10px 15px;
        font-size: 13px;
    }

    .rocket_img {
        right: 15px;
        top: -20px;
        height: 70px;
    }
}

@media (min-width: 401px) and (max-width: 490px) {
    .rocket_img {
        height: 70px !important;
        width: auto;
        right: 0;
        top: 180px;
    }
}

@media screen and (max-width:500px) {
    .dm_pricing_plan .features {
        flex-direction: column;
    }

    .dm_cta .section_container {
        padding: 30px 10px 140px;
    }

    .dm_cta {
        padding: 0;
    }
}